.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 100vw;
}

.button__home {
    background-color: rgb(233, 13, 134);
    color: blanchedalmond;
    height: 30px;
    min-width: 320px;
    width: 100vw;
    font-size: 20px;
}

.faces {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.smile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(229, 233, 13);
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no__smile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(14, 145, 221);
    color: blanchedalmond;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face__container {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 150px;
}